# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore folder
.vs
x64
[dD]ebug
[rR]elease
[Bb]uild
[Bb]in
[Ll]ib

# Media file
*.mp4
*.aac
*.mp3
*.avi
*.mov

# Other
*.zip